################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Quote-Generator/.vs/Quote-Generator
/Quote-Generator/Quote-Generator/bin/Debug/net8.0
/Quote-Generator/Quote-Generator/obj
*.user
